.btn {
	padding: 8px 20px;
	background: transparent;
	text-transform: lowercase;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid $secondary-color;
	border-radius: $border-radius;
	font-family: $font-default;
	color: $white;
	transition: $transition;
	@include hover {
		background: $secondary-color;
	}
}

.link {
	text-decoration: none;
	background: transparent;
	padding: 7px 20px;
	text-transform: lowercase;
	font-size: 16px;
	line-height: 16px;
	margin-right: 10px;
	border: 1px solid $primary-color;
	color: $white;
	border-radius: $border-radius;
	transition: $transition;
	@include hover {
		background-color: $primary-color;
	}
}