.nav {
	margin-left: auto;
}

.nav__item {
	list-style: none;
	margin-left: 20px;
	display: inline-block;
	vertical-align: middle;
}

.nav__link {
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
	line-height: 16px;
	font-weight: $black-bold;
	color: $secondary-color;
	font-family: $font-default;
	transition: $transition;
	@include hover {
		color: $white;
	}
}