.nav {
	margin-left: auto;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item {
	list-style: none;
	margin-left: 20px;
}

.nav__link {
	text-decoration: none;
	color: $secondary-color;
}