.new-blog__preview {
	margin: 80px 0;
}

.new-blog__preview-wrap {
	padding: 20px;
	background-color: $dark;
	border-radius: $border-radius;
}

.new-blog__title {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 20px;
}

.new-blog__note {
	margin-bottom: 10px;
	font-style: italic;
}
