@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap');

$font-deafult: 'Gabarito', sans-serif;

$platinum: #f3efef;
$primary-color: #7b445a;
$secondary-color: #571d34;